.leftsideWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.status {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.board-row {
  display: flex;
  background-color: #1c1e22;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.newGame {
  display: flex;
  align-self: center;
  width: fit-content;
}
