.square {
  background-color: #222429;
  border: none;
  font-size: 64px;
  font-weight: bold;
  color: white;
  padding: 0;
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 10px;
}

.square.highlighted {
  background-color: #353840;
}

.square:not(:last-child):not(:first-child) {
  margin: 15px 0;
}