.game {
  display: flex;
  gap: 60px;
  height: 75%;
}

.game-info {
  width: 210px;
}

.game-info p {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.game-info button {
  transition: 0.2s;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #373941;
  color: white;
  border: 1px solid #636468;
}

.game-info button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.game-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sort-btn {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  background-color: #373941;
  color: white;
  border: 1px solid #636468;
}
